
body{
    background-color: #F8F8F8;
    margin: 0;
    font-family: 'TT Lakes';
}

.header__navigation-btn{
    background-color: #fff; 
    border: 0;
} 

.services__header-title{
    margin: 0;
}

.header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 88px;
    background-color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d9fff5;
    margin-bottom: 24px;

}

.icon{
   cursor: pointer;
   border: 0;
   width: 40px;
   height: 40px;
   background: #FF3E79;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
}

.icon:hover{
    filter: brightness(85%);
}

.header__burger{
    margin-right: 17px;
    /* border: 0; */

}

.logo{
    width: 96px;
    height: 50px;
}

.header__navigation{
    margin-left: auto;   
}

.header__navigation-btn{
    height: 40px;
    margin-top: 24px;
    margin-bottom: 24px
}
.header__navigation-list{
    display: flex;
    list-style-type: none;
    margin-left: auto;
    align-items: center;
}


.header__navigation-item:nth-child(1),
.header__navigation-item:nth-child(2),
.header__navigation-item:nth-child(3){
    display: none;
} 

.header__navigation-item:nth-child(4){
    display: flex;
    position: relative;
    align-items: center;
}

.header__navigation-item:nth-child(4)::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background: rgb(234, 234, 234);
    border-radius: 1px;
    left: -20px;

}  

.header__navigation-item:nth-child(5){
    margin-left: 16px;
} 

.services{
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
}
 .services__shortcut-list{
    display: none;
 }

 .services__header{
    margin-bottom: 24px;
 }

.services__header-title{
    display: flex;
    align-items: center;
    font-family: 'TT Lakes';
    position: relative;
    font-size: 28px;
    width: 304px;
    height: 40px;
    margin-left: 16px;
    letter-spacing: -0.6px;
}

.services::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(65, 246, 215);
    left: 0px;

}

.services__button-list-hidden{
    display: none;
}

.services__navigation-items{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: auto;
    height: 40px;
    align-items: center;
    white-space: nowrap;
    margin: 0px 16px 24px 16px;
    padding: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.services__navigation-items::-webkit-scrollbar{
    display: none;
  }


.services__navigation-btn{
    font-family: 'TT Lakes';
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: rgb(126, 126, 130);
    background: none; 
    height: 40px;
    padding: 8px 15px;
    text-decoration: none;

}

.services__navigation-btn--active:hover{
    cursor: pointer;
    background-color: #fff;
    border: 2px solid rgb(184, 255, 236);
    border-radius: 6px;

}

.services__description-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
}
.services__descr-text{
    width: 100%;
    height: 90px;
    margin: 0;
    overflow: hidden;
    font-family: 'TT Lakes';
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.btn-more{
    width: 132px;
    height: 24px;
    border: 0;
    padding: 0;
    font-family: 'TT Lakes';
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: none;
    color: #1B1C21;

}
.services__button{
    margin: 16px 0px;
}

.services__img{
    width: 100%;
    
}

.services__img{
    width: 100%;
}

@media (min-width: 768px) {

    .header{
        padding-left: 24px;
        padding-right: 24px;
    }

    .header__burger{
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 42px;
        padding-left: 0;
    }

    .header__burger::after{
        content: "";
        position: absolute;
        width: 2.5px;
        height: 32px;
        background:  #EAEAEA;;
        border-radius: 1px;
        right: -20px;
    } 

    .header__navigation-item:nth-child(1),
    .header__navigation-item:nth-child(2),
    .header__navigation-item:nth-child(3){
        display: block;
        margin-left: 16px;
    }

    .header__navigation-item:nth-child(4){
        margin-left: 42px;
    }

    .services__header{
        margin-bottom: 32px;
    }
    .services__header-title{
        margin-left: 24px;
    }
    
    .services__navigation-items{
        margin: 0 24px 40px 24px;
    }
    .services__wrapper{
        display: grid;
        grid-template-columns: 1fr 360px;
        gap: 48px;
        height: 208px;
        margin: 0px 24px;
    }

    .services__description-wrapper{
        margin: 0;
    }

    .services__descr-text{
        height: 160px;
        line-height: 20px;
    
    }
    .services__button{
        margin-top: 10px;
    }

    .services__img{
        width: 360px;
        height: 208px;
    }

}  

 @media(min-width: 1120px){

    .header{
        display: none;
    }

    .services{
        margin-top: 42px;
    }

    .services__header{
        display: flex;
        margin-bottom: 8px;
    }

    .services__header-title{
        margin-left: 32px;
    }
    .services__button-list-hidden{
        display: block;
        
    }

    .services__shortcut-list{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-left: auto;
        gap: 32px;
        margin-right: 32px;
    }
    .icon{
        display: flex;
        align-items: center
    }

    .services__shortcut-button{
        display: flex;
        border: 0;
        align-items: center;
        font-family: 'TT Lakes';
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.2px;
        background: none;
        gap: 8.5px;
    }

    .services__navigation-items{
        width: auto;
        height: 82px;
        flex-wrap: wrap;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 0px;
       }

    .services__wrapper{
        width: 1061px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        gap: 36px;
        height: auto;
        /* margin: 0px 25px 0px 34px; */
    }

    .services__description-wrapper{
        width: 490px;
        padding-top: 8px;
       }

    .services__img{
        width: 531px;
        height: 307px;
        justify-self: end;
       }

}  

/* стили для бокового меню */

.menu{
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    margin: 0;
    box-shadow: 16px 0 52px #0E185033;
    overflow-y: auto;
  }
  
  .menu::-webkit-scrollbar{
    display: none;
  }
  .header-menu{
    display: flex;
    align-items: center;
  }
  
  .header-menu-margin{
    
    margin-top: 18px;
    margin-bottom: 46px;
  }
  
  .header-menu__btn-close{
    margin: 0 17px 0 24px;
  }
  
  .header-menu__btn-search{
    margin-left: auto;
    margin-right: 24px;
  }
  
  .menu__list-btn{
    list-style-type: none;                          /* обнул стилей списк*/
    padding: 0 0 0 24px;
    margin: 0;
  
  }
  
  .menu__btn{
    margin-bottom: 32px;                            
  }
  
  .menu__btn-name{
    text-decoration: none;                          /* обнул стилей ссылок*/
    color: rgba(27, 28, 33, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    position: relative;
  }

  .menu__btn-name:hover{
        opacity: 0.75; 
  }

  .menu__btn-name:focus{
    color: #7E7E82;
  }

   .menu__btn-name:focus::before{ 
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    left: -24px;
    top: 50%;                            /* сдвиг начала эл с половины высоты родител*/
    transform: translateY(-50%);         /* вертикальное центрир относительно родителя, свдвиг эл вверх на половину своей высоты*/
  }

  

  
  .contacts{
    display: grid;
    margin-left: 24px;
    margin-top: auto;
    margin: auto 0 32px 24px;
  }
  
  .contacts__list-btn{
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 16px 0;
  }

  .contacts__info{
    display: grid;
    font-style: normal;
    margin-bottom: 40px;
    gap: 12px;
  }
  
  .contacts__email{
    text-decoration: none; /* обнул стилей ссылок*/
    color: rgba(27, 28, 33, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
  }
  
  .contacts__tel{
    text-decoration: none; 
    color: rgba(27, 28, 33, 1);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: bold;
  }
  
  .menu__lang{
    margin: 0;
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 7px;
    padding: 0;
  }

  .menu__btn-lng{
    cursor: pointer;
    background: none; 
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'TT Lakes';
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
  }

  .menu__btn-lng:hover{
    opacity: 0.75; 
  }
  .menu__btn-lng:focus{
    color: #7E7E82;
  }

  /* стили для блока со свайпером */
  .head-section{
    height: 80px;
    margin: 0;
    background-image: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    border-top:1px solid rgba(217, 255, 245, 1);
    display: flex;
    align-items: center;
    
  }

  .head-section__title{
    
    margin: 0;               
    padding: 16px;                
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: rgba(126, 126, 130, 1);
  }

  .brand-card{
    box-sizing: border-box;
    position: relative;
    width: 240px;
    height: 72px;
    display: block;
    vertical-align: middle;
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    background-image: url(./assets/icons/go.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    padding-left: 16px;

}

  .brand-card__img{
    content: '';
    position: absolute;
    bottom: 50%;
     transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%); 
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
} 

  .btn-more--margin{
    margin: 0 0 0 24px;
    display: none;
}

.swiper-slide{
    width: 240px;
}

.swiper-pagination{
    position: static;
    
}
.head-section{
    height: 80px;
    margin: 0;
    background-image: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    border-top:1px solid rgba(217, 255, 245, 1);
    display: flex;
    align-items: center;
    font-family: 'TT Lakes';
    
  }

  .head-section__title{
    margin: 0;               
    padding: 16px;                
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: rgba(126, 126, 130, 1);
  }

  .brand-card{
    box-sizing: border-box;
    position: relative;
    width: 240px;
    height: 72px;
    display: block;
    vertical-align: middle;
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    background-image: url(./assets/icons/go.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    padding-left: 16px;

}

  .brand-card__img{
    content: '';
    position: absolute;
    bottom: 50%;
     transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%); 
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
} 

  .btn-more--margin{
    margin: 0 0 0 24px;
    display: none;
}

.section__content{
    margin: 16px;
    list-style-type: none;
    padding: 0;
}
.swiper-pagination{
    position: static;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: rgba(221, 221, 221, 1);
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: rgba(181, 182, 188, 1);
}

@media(min-width: 768px ){

    .head-section{
        height: 56px;
    }
    .section__content{
        width: auto;
        height: 170px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        row-gap: 2.08vw;
        column-gap: 3.125vw;
        justify-content: space-around;
    }

    .section__content--all{
        height: auto;
    }
    
    .swiper-wrapper{
        width: auto;
    }
    .swiper-slide{
        width: 29.16vw;
        height: 72px;
    }

    .brand-card{
        width: 29vw;
    }

    .btn-more{
        display: flex;
    }

    .section__content{
        margin: 24px;
    }
}


@media(min-width: 1120px){

    .swiper-slide{
        width: 240px;
        height: 72px;
    }

    .brand-card{
        width: 240px;
    }

}

